@namespace SVG url("http://www.w3.org/2000/svg");

/* https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700&family=Zain:wght@700&display=swap */
/* latin-ext */
@font-face {
    font-family: 'Vend Sans';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/vendsans/v1/E21l_d7ijufNwCJPEUscWg9VMus.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Vend Sans';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/vendsans/v1/E21l_d7ijufNwCJPEUscVA9V.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Zain';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zain/v4/sykz-y9lm7soOG7ohS23-w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    /* https://paletton.com/#uid=4120N0kymrngCCipKvQFvkQQEcW */
    --primary-lighter: #ffe29d;
    --primary-light: #ffc53d;
    --primary: #da9900;
    --primary-dark: #996b00;
    --primary-darker: #3d2b00;

    --secondary-lighter: #b487d3;
    --secondary-light: #7c32ae;
    --secondary: #5a0892;
    --secondary-dark: #3f0467;
    --secondary-darker: #190029;

    --tertiary-lighter: #83d4b3;
    --tertiary-light: #2ab17a;
    --tertiary: #009459;
    --tertiary-dark: #00683e;
    --tertiary-darker: #002a19;

    --complement-lighter: #8d9bd4;
    --complement-light: #3a52b1;
    --complement: #112a94;
    --complement-dark: #081b68;
    --complement-darker: #010929;

    --standout-font-color: var(--complement-darker);
    --standout-color: var(--tertiary);
    --standout-alt-color: var(--secondary);
    --standout-active-color: var(--tertiary-light);
    --standout-active-alt-color: var(--secondary-light);

    --font-color: var(--complement-darker);
    --font-emph-color: var(--secondary-darker);
    --background-color: var(--primary-lighter);
    --background-special-color: hsl(from var(--background-color) h s 90%);
    --font-alt-color: var(--primary-light);
    --background-alt-color: var(--primary-light);

    --link-color: var(--complement-light);

    --border-color: var(--complement-light);
    --shadow-color: hsl(from var(--complement-darker) h s l / 0.2);
    --border-standout-color: var(--tertiary-dark);
    --border-width: 0.15rem;

    --surface-color: #ffffff;
    --border-soft-color: hsl(from var(--border-color) h 5% 90%);

    --danger-color: orangered;

    @media (prefers-color-scheme: dark) {
        --font-color: var(--primary-lighter);
        --font-emph-color: var(--secondary-lighter);
        --background-color: var(--complement-darker);
        --background-special-color: hsl(from var(--background-color) h s 10%);
        --background-alt-color: var(--primary-dark);

        --link-color: var(--complement-lighter);

        --shadow-color: hsl(from var(--complement-darker) h s 5% / 1);
        --border-standout-color: var(--tertiary);

        --surface-color: #1a1a2a;
        --border-soft-color: hsl(from var(--border-color) h 15% 40%);

        --danger-color: crimson;
    }

    /* Reserve space for scrollbars (they will appear, trust). */
    scrollbar-gutter: stable;
}

/* Basic element styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}

body {
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 1.6;
    font-family: "Vend Sans", sans-serif;

    @media (max-width: 480px) {
        padding: 0.5rem;
    }
}

[title] {
    text-decoration: underline dotted 1px currentcolor;
    cursor: help;
}

:focus-visible {
    outline: 0.25rem solid var(--border-color);
}

h1 {
    margin-block-end: 0.5rem;
    color: var(--standout-color);
    font-family: "Zain", sans-serif;
    font-size: 2.2rem;
    line-height: 1.2;
}

h2 {
    margin-block-start: -0.2rem;
    margin-block-end: 0.2lh;
    color: var(--standout-color);
    font-size: 1.25rem;
}

a {
    border-radius: 0.5lh;
    text-decoration: none;
    font-weight: bold;

    &:link,
    &:visited {
        color: var(--link-color);
    }

    &:hover {
        text-decoration: underline;
    }
}

button {
    border: none;
    line-height: 1.6;
    font-family: inherit;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

/* General classes */

.surface {
    position: relative;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0.25rem 1rem var(--shadow-color);
    background-color: var(--surface-color);

    break-inside: avoid;

    @media (max-width: 480px) {
        padding: 1rem;
    }
}

.normal-button {
    border: var(--border-width) solid var(--border-color);
    border-radius: 1rem;
    padding: 0.8em;
    background: var(--background-color);
    color: var(--font-color);

    &:enabled {
        &:hover, &:focus-visible {
            background: var(--standout-active-color);
        }

        &:active {
            background: hsl(from var(--standout-active-color) h s 60%);
        }
    }
}

.standout-button {
    border: var(--border-width) solid var(--standout-active-color);
    border-radius: 0.5rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    background: var(--standout-active-color);
    color: var(--standout-font-color);
    font-weight: bold;

    &:enabled {
        &:hover, &:focus-visible {
            border-color: var(--standout-active-alt-color);
            background: var(--standout-active-alt-color);
            color: var(--font-alt-color);
        }

        &:active {
            border-color: hsl(from var(--standout-active-alt-color) h s 60%);
            background: hsl(from var(--standout-active-alt-color) h s 60%);
        }
    }
}

.danger-button {
    border: var(--border-width) solid var(--danger-color);
    border-radius: 0.5rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    background: var(--danger-color);
    color: var(--standout-font-color);
    font-weight: bold;

    &:enabled {
        &:hover, &:focus-visible {
            border-color: var(--font-alt-color);
            color: var(--font-alt-color);
        }

        &:active {
            background: hsl(from var(--danger-color) h s 70%);
        }
    }
}

.mini-button {
    padding-block: 0;
    padding-inline: 0.5rem;
}

/* Spinner loader */

.loader {
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    border: none;
    align-items: center;
    justify-content: center;
    background: var(--background-color);

    &:popover-open {
        display: flex;
    }

    .loader-spinner {
        block-size: 10rem;
        inline-size: 10rem;
        border-inline-start: 0.2rem solid var(--border-standout-color);
        border-block-start: 0.2rem solid var(--border-standout-color);
        border-radius: 50%;
        animation: loader-spin 1s linear infinite;
    }
}
@keyframes loader-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Layout */

.container {
    max-inline-size: 1200px;
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    grid-template:
        "header header"
        "dice-selection selected-dice"
        "dice-selection roll-results"
        "dice-selection distribution-results" 1fr
        "navfooter navfooter";
    grid-template-columns: 1fr 2fr;

    @media (max-width: 768px) {
        grid-template-areas:
            "header"
            "dice-selection"
            "selected-dice"
            "roll-results"
            "distribution-results"
            "navfooter";
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
    @media (max-width: 480px) {
        gap: 1rem;
    }
}

header {
    grid-area: header;
    text-align: center;
    position: relative;
}

footer {
    text-align: center;
    font-size: smaller;
}

footer:has(nav) {
    grid-area: navfooter;
}

/* Main blocks */

.dice-selection {
    grid-area: dice-selection;
    block-size: min-content;

    &> div {
        margin-block-end: 2rem;

        &:last-child {
            margin-block-end: 0;
        }
    }

    .dice-buttons {
        .dice-grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(3.2lh, 1fr));
        }

        .dice-button {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem;

            &:hover, &:focus-visible {
                box-shadow: 0 0.5rem 1rem var(--shadow-color);
                transform: translateY(-0.25rem);
            }

            &:active {
                box-shadow: none;
                transform: translateY(0);
            }

            svg {
                block-size: 2lh;
                inline-size: 2lh;
            }

            span {
                font-weight: bold;
            }
        }
    }

    .custom-dice {
        h2 {
            margin-block-end: 1rem;
            color: var(--standout-color);
            font-size: 1.25rem;
        }

        .input-group {
            display: flex;

            input {
                @media (max-width: 768px) {
                    /* For some reason this is needed to make the input take less than ≈400px. */
                    inline-size: 100%;
                }
                border: var(--border-width) solid var(--border-color);
                border-inline-end: none;
                border-start-start-radius: 0.5rem;
                border-end-start-radius: 0.5rem;
                padding: 0.75rem;
                flex: 1;
                background: var(--surface-color);
                color: var(--font-color);
                font-size: 1rem;

                &:invalid {
                    border-color: var(--danger-color);
                }
            }

            button {
                border-radius: 0;
                border-start-end-radius: 0.5rem;
                border-end-end-radius: 0.5rem;
            }
        }
    }
}

/* At least one browser requires SVG styles to be defined at top level. */
SVG|* {
    stroke-width: 4px;
    stroke: var(--primary-dark);
    fill: var(--primary-light);
}
SVG|polyline {
    fill: none;
}
SVG|text {
    font-family: "Vend Sans", sans-serif;
    font-size: 30px;
    text-anchor: middle;
}

.selected-dice {
    grid-area: selected-dice;
    block-size: min-content;

    .dice-list {
        min-block-size: calc(2.5rem + 2*var(--border-width));
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        &:empty::before {
            inline-size: 100%;
            display: block;
            content: "None yet";
        }

        .dice-chip {
            border: var(--border-width) solid var(--standout-alt-color);
            border-radius: 2rem;
            padding-block: 0.25rem;
            padding-inline: 1rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            background: var(--standout-alt-color);
            color: var(--font-alt-color);
            font-weight: bold;

            .remove-button {
                block-size: 2rem;
                inline-size: 2rem;
                margin-inline-end: -0.75rem;
                border-radius: 50%;
                padding: 0;
                align-items: center;
                font-weight: bold;
                font-size: 1rem;
            }
        }
    }
}

.results {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.roll-results {
    grid-area: roll-results;
    block-size: min-content;

    .roll-output {
        /* block-size of .roll-total + padding */
        min-block-size: calc(4rem + 2ch + 2*var(--border-width));
        margin-block-end: 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: var(--background-special-color);
        color: var(--font-color);
        text-align: center;
        font-size: 2rem;
        font-weight: bold;

        &:empty::before {
            inline-size: 100%;
            display: block;
            font-size: 1.5rem;
            content: "No dice";
        }

        .die-roll-container {
            /* Min inline-size allows for two digits, working with most practical dice. */
            min-inline-size: calc(2rem + 2ch + 2*var(--border-width));
            padding: 0;
            display: flex;
            gap: 0;
            flex-direction: column;
            font-size: 1.5rem;

            .die-description {
                border-block-end: var(--border-width) solid var(--background-special-color);
                padding-inline: 0.25rem;
                font-size: 0.5em;
            }
        
            .die-roll {
                padding-block-end: 0.25rem;
                padding-inline: 1rem;
                display: block;
            }
            
            &:hover, &:focus-visible {
                box-shadow: 0 0.5rem 1rem var(--shadow-color);
                /* Using pixels for integer translation to avoid sub-pixel artifacts. */
                transform: translateY(-5px);
            }
            
            &:active {
                box-shadow: none;
                transform: translateY(0);
            }
        }

        .roll-total {
            min-block-size: calc(2rem + 2ch + 2*var(--border-width));
            min-inline-size: calc(2rem + 2ch + 2*var(--border-width));
            margin-inline-start: 1rem;
            border: var(--border-width) solid var(--standout-alt-color);
            border-radius: calc(1.2rem + 1lh) / calc(1rem + 1lh);
            padding-block: 0.5rem;
            padding-inline: 1rem;
            background: var(--standout-alt-color);
            color: var(--font-alt-color);
            text-align: center;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (prefers-reduced-motion: no-preference) {
                &.just-rolled {
                    transform: scale(1.05) rotate(5deg);
                }
            }
        }
    }
    
    .reroll-button {
        inline-size: 100%;
        display: block;
        font-size: 1.2rem;
    }
}

.distribution-results {
    grid-area: distribution-results;
    block-size: auto;

    #empty-results-table {
        display: none;
    }

    &:has(tbody:empty) {
        thead {
            /* display: none; */
        }

        #empty-results-table {
            display: initial;
        }
    }

    table {
        inline-size: 100%;
        margin-block-start: 1rem;
        border-collapse: collapse;
    }

    th,
    td {
        padding-inline: 0.25rem;
        text-align: start;

        &:first-of-type {
            padding-inline-start: 0.5rem;
            inline-size: 20%;
        }
        &:nth-of-type(2) {
            inline-size: 20%;
        }
        &:nth-of-type(3) {
            inline-size: 40%;
        }
        &:last-of-type {
            padding-inline-end: 0.5rem;
            inline-size: 20%;
        }
    }

    th {
        padding-block: 0.25rem;
        background-color: var(--standout-alt-color);
        color: var(--font-alt-color);
        font-weight: bold;
    }

    tbody {
        tr {
            border-block-end: 0.1rem solid var(--border-soft-color);
            padding-block: 0.1rem;

            .probability-bar-container {
                inline-size: 100%;
                block-size: 0.8lh;
                border-radius: 0.25rem;
                background: var(--border-soft-color);
            }

            .probability-bar {
                block-size: 100%;
                margin: calc(0 - var(--border-width));
                /* border: var(--border-width) solid var(--primary-light); */
                border-radius: 0.25rem;
                background-color: var(--primary-light);

                @media (prefers-color-scheme: dark) {
                    border-color: var(--primary);
                    background-color: var(--primary);
                }
            }

            &:hover {
                background-color: var(--background-special-color);

                .probability-bar {
                    border-color: var(--primary);
                    background-color: var(--primary);

                    @media (prefers-color-scheme: dark) {
                        border-color: var(--primary-light);
                        background-color: var(--primary-light);
                    }
                }
            }

            &:last-of-type {
                border-block-end: none;
            }
        }
    }
}

/* Other elements */

#install-button-container {
    position: absolute;
    inset-block-start: 1.5rem;
    inset-inline-end: 1.5rem;

    @media (max-width: 600px) {
        margin-block-start: 0.5rem;
        position: initial;
        display: flex;
        justify-content: flex-end;
    }
}

#remove-dice-button-container {
    position: absolute;
    inset-block-start: 1.5rem;
    inset-inline-end: 1.5rem;

    @media (max-width: 480px) {
        inset-block-start: 1.2rem;
        inset-inline-end: 1rem;
    }
}

#footer-offline-data {
    block-size: min-content;

    #delete-data-button {
        margin-block-start: 0.5em;
    }
}
